@import '#styles/colors.module.scss';

.container {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: $white-color;

  &:hover {
    .thumbnail {
      transform: translateY(-1rem);
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    }
  }
  .thumbnail {
    border-radius: 1.4rem;
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    margin-right: 4rem;
    transition: all 0.2s ease;
  }
  .contentsContainer {
    .title {
      font-size: 3.6rem;
      font-weight: 600;
      transition: color 0.2s ease;
    }
    .contents {
      font-size: 1.7rem;
      font-weight: 400;
      color: $text-default-color;
      margin-top: 1.5rem;
      line-height: 2.6rem;
    }
    .createdAt {
      font-size: 1.5rem;
      font-weight: 300;
      color: $text-lighter-color;
      margin-top: 1rem;
    }
  }
}
