@import '#styles/colors.module.scss';

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  .header {
    padding: 2rem 0;
    border-bottom: 0.1rem solid $border-default-color;
    .inner {
      max-width: 90rem;
      padding: 0 2rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .gnb {
        display: flex;
        align-items: center;
        margin-bottom: -0.5rem;
        a {
          text-decoration: none;
          font-size: 1.6rem;
        }
      }
    }
  }

  .main {
    flex: 1 0 auto;
  }

  .footer {
    padding: 3.5rem 0;
    border-top: 0.1rem solid $border-default-color;
    .copyright {
      text-align: center;
      font-size: 1.4rem;
      color: $text-light-color;
      font-weight: 300;
    }
  }
}
