$primary-color: #3068f4;
$secondary-color: #8897aa;
$info-color: #8897aa;
$success-color: #02bc77;
$warning-color: #ffd950;
$danger-color: #d9534f;
$light-color: rgba(24, 28, 33, 0.1);
$lighter-color: rgba(24, 28, 33, 0.03);
$lightest-color: rgba(24, 28, 33, 0.02);
$dark-color: rgba(24, 28, 33, 0.9);
$white-color: #ffffff;
$twitter-color: #3b5998;
$facebook-color: #3b5998;
$instagram-color: #000000;
$windows-color: #26aae1;
$apple-color: #343434;
$linux-color: #800080;
$pinterest-color: #bd121c;
$flickr-color: #ff0084;
$linkedin-color: #0077b5;
$periscope-color: #40a4c4;
$tumblr-color: #35465c;
$vimeo-color: #1ab7ae;
$youtube-color: #b31217;
$light-primary-color: #e0e8fd;
$light-secondary-color: #edeff2;
$light-info-color: #def6f9;
$light-success-color: #d9f5ea;
$light-warning-color: #fff9e4;
$light-danger-color: #f9e5e4;
$light-dark-color: #e0e0e1;
$text-default-color: #4e5155;
$text-muted-color: #a3a4a6;
$text-light-color: #babbbc;
$text-lighter-color: #d1d2d3;
$text-lightest-color: #e8e8e9;
$text-link-color: #4e5155;
$text-link-hover-color: #1e70cd;
$text-light-bg-color: rgba(0, 0, 0, 0.55);
$border-default-color: rgba(24, 28, 33, 0.06);
$border-component-floating-color: rgba(24, 28, 33, 0.05);
$border-component-light-color: rgba(0, 0, 0, 0.06);

:export {
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  info-color: $info-color;
  success-color: $success-color;
  warning-color: $warning-color;
  danger-color: $danger-color;
  light-color: $light-color;
  lighter-color: $lighter-color;
  lightest-color: $lightest-color;
  dark-color: $dark-color;
  white-color: $white-color;
  twitter-color: $twitter-color;
  facebook-color: $facebook-color;
  instagram-color: $instagram-color;
  windows-color: $windows-color;
  apple-color: $apple-color;
  linux-color: $linux-color;
  pinterest-color: $pinterest-color;
  flickr-color: $flickr-color;
  linkedin-color: $linkedin-color;
  periscope-color: $periscope-color;
  tumblr-color: $tumblr-color;
  vimeo-color: $vimeo-color;
  youtube-color: $youtube-color;
  light-primary-color: $light-primary-color;
  light-secondary-color: $light-secondary-color;
  light-info-color: $light-info-color;
  light-success-color: $light-success-color;
  light-warning-color: $light-warning-color;
  light-danger-color: $light-danger-color;
  light-dark-color: $light-dark-color;
  text-default-color: $text-default-color;
  text-muted-color: $text-muted-color;
  text-light-color: $text-light-color;
  text-lighter-color: $text-lighter-color;
  text-lightest-color: $text-lightest-color;
  text-link-color: $text-link-color;
  text-link-hover-color: $text-link-hover-color;
  text-light-bg-color: $text-light-bg-color;
  border-default-color: $border-default-color;
  border-component-floating-color: $border-component-floating-color;
  border-component-light-color: $border-component-light-color;
}
